body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    padding-top: 106px;

}

#header_img {
    background-size: cover;
    background-position: center;
    height: 30vh;
    border-bottom: 15px solid #00AFCB;
}

#header-article_img {
    margin-top: 55px;
    background-size: cover;
    background-position: center;
    height: 30vh;
    border-bottom: 15px solid #00AFCB;
}

.page_title {
    font-size: 45px;
    font-weight: 300;
}

.page_text {
    margin-top: 2rem;
    font-size: 16px;
}

.divider {
    border: 2px solid #00AFCB;
}

.divider_bottom {
    border: 2px solid #00AFCB;
    width: 60px;
    margin: 2rem 0rem 2rem 0rem;
}

.btn_more {
    background-color: black;
    color: white;
    padding: 0.5rem;
    width: 30%;
    margin: auto;
}


/* NAVBAR */

.navbar {
    background-color: white;
}

nav img {
    width: 15%;
    padding: 1rem 0rem 1rem 0rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 15px;
}

.navbar-light .navbar-toggler {
    border: none;
}

#navbarLinks .nav-link:hover {
    background-color: #00AFCB;
}

#navbarLinks a:hover {
    color: white;
}

#navbarLinks .dropdown-item:hover {
    background-color: #00AFCB;
}

.dropdown-toggle::after {
    display: none;
}

.fa-bars {
    color: black;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}


.dropdown-item {
    font-size: 14px;
}


.hidden {
    display: none;
}

.close {
    width: 85%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


/* HOME */

/* Swipper Container */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*Hero Image*/


.slide_img {
    height: 55vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.slide_text {
    color: white;
    background-color: rgb(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_text p {
    max-width: 550px;
    margin: auto;
}

.slide_btn {
    background-color: #00AFCB;
    color: white;
    padding: 0.3rem 2rem 0.3rem 2rem;
}

.slide_btn:hover {
    background-color: black;
    color: white;
}

.swiper-button-next {
    color: #00AFCB;
    position: absolute;
}

.swiper-button-prev {
    color: #00AFCB;
}


/* Uy-Banner */

#uy-banner {
    background-color: #00AFCB;
    padding: 2rem 0rem 2rem 0rem;
    position: relative;
}

.uy-banner_logo {
    position: absolute;
    bottom: -46px;
    width: 100%;
}

/* Banners */

.rounded {
    border-radius: 300px;
}

.uy-banner_text {
    color: white;
}

/* Featured News */

#news-banner {
    background-color: white;
    padding: 3rem 0rem 3rem 0rem;
}

.image {
    position: relative;
    width: 100%;
}

.image img {
    width: 100%;
    vertical-align: top;
}

.image:after,
.image:before {
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.image:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: left;
    background: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.image:hover:after,
.image:hover:before {
    opacity: 1;
}

.news-banner_img {
    max-width: 100%;
    position: relative;
}

.news-banner_bg {
    position: absolute;
    background-color: black;
    width: 100%;
}


/*Latest News */

#news-card {
    background-color: #F5F5F5;
    padding: 2rem 0rem 2rem 0rem;
}

.see-all {
    background-color: #00AFCB;
    color: white;
    padding-right: 0.5rem;
}

.my-card {
    background-color: transparent;
    border: none;
}

.my-card:hover>h4 {
    color: #00AFCB;
}

.my-card:hover>a {
    background-color: black;
}

.news-card_img {
    border-top: #00AFCB 10px solid;
}

.news-card_title {
    font-size: 20px;
}

.news-card_date {
    color: #00AFCB;
    margin-bottom: 0px;
}

.news-card_text {
    font-size: 12px;
}

.news-card_btn {
    background-color: #00AFCB;
    color: white;
    text-align: right;
    border: none;
    border-radius: 0px;
}

.news-card_btn:hover {
    background-color: black;
}

/* Footer */

#footer {
    background-color: #00AFCB;
    padding: 2rem 0rem 1rem 0rem;
}

.footer_text {
    color: white;
}


/* QUIENES SOMOS */


/* ESTATUTOS Y ACTAS */

.pdf {
    background-color: #F5F5F5;
    padding: 0.5rem;
}

.pdf p {
    margin: 0rem;
}

.pdf_text {
    display: inline-block;
    padding-left: 0.3rem;
}


.pdf a {
    text-decoration: none;
    color: black;
}


/*NOVEDADES*/

.btn-more {
    background-color: black;
    border-radius: 0px;
    color: white;
    padding: 0.3rem 6.5rem 0.3rem 6.5rem;
}

.btn-more:hover {
    color: white;
    background-color: #00AFCB;
}

/*CONTACTO */

#wpforms-94-field_0-container input,
#wpforms-194-field_3-container input {
    background-color: #F5F5F5;
    color: #4A4A4A;
    border: none;
    border-radius: 0px;
    font-size: 14px;
}

#wpforms-94-field_1-container input,
#wpforms-194-field_1-container input {
    background-color: #F5F5F5;
    color: #4A4A4A;
    border: none;
    border-radius: 0px;
    font-size: 14px;
}

#wpforms-94-field_2-container textarea,
#wpforms-194-field_2-container textarea {
    background-color: #F5F5F5;
    color: #4A4A4A;
    border: none;
    border-radius: 0px;
    font-size: 14px;
}

#wpforms-submit-94,
#wpforms-submit-194 {
    background-color: black;
    color: white;
    padding: 0.3rem 0rem 0.3rem 0rem;
    border: none;
    border-radius: 0px;
    float: right;
}

#wpforms-submit-94:hover,
#wpforms-submit-194:hover {
    background-color: #00AFCB;
}

.note {
    color: #00AFCB;
}

.form-control {
    background-color: #F5F5F5;
    color: #4A4A4A;
    border: none;
    border-radius: 0px;
    font-size: 14px;
}

.contact_data {
    margin-top: 26px;
}

.contact_mail {
    color: #00AFCB;
}

.contact_mail:hover {
    background-color: #00AFCB;
    color: white;
}


/*SIDEBAR */

.sidebar {
    margin-top: 35px;
}

.hr_sidebar {
    border: 2px solid black;
}

.sidebar ul {
    list-style: none;
    padding: 15px;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.sidebar ul li::before {
    content: "\2022";
    color: #00AFCB;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.sidebar li:hover {
    background-color: #00AFCB;
    color: white;
}


/* MEDIA QUERY */


@media (min-width: 320px) {

    #nav-logo {
        width: 100%;
    }

    #news-card img {
        width: 100%;
        height: auto;
    }

    #novedades img {
        width: 100%;
        height: auto;
    }

    .page-img {
        width: 100%;
        height: auto;
    }

    .uy-banner_logo {
        width: 50%;
    }

    .navbar-brand {
        width: 60%;
    }

    .note {
        font-size: 10px;
    }

    .dropdown-menu {
        border: none;
        margin: 0rem;
        background-color: #F5F5F5;
    }

    #wpforms-submit-94,
    #wpforms-submit-194 {
        width: 100%;
    }

    .logos_footer a img {
        width: 110px;
    }

    .logos_footer img {
        height: 77px;
    }

    .slide_img {
        height: 75vh;
    }

    .slide_block {
        height: 75vh;
    }

}

@media (min-width: 576px) {

    #nav-logo {
        width: 150%;
    }


    .uy-banner_logo {
        width: 50%;
    }

    .navbar-brand {
        width: 30%;
    }

    .logos_footer a img {
        width: 160px;
    }

    .logos_footer img {
        height: 100px;
    }

    .slide_img {
        height: 55vh;
    }

    .slide_block {
        height: 55vh;
    }



}

@media (min-width: 768px) {

    #nav-logo {
        width: 130%;
    }

    .uy-banner_logo {
        width: 40%;
    }

    .dtp-none {
        display: none;
    }

    .note {
        font-size: 12px;
    }

    #wpforms-submit-94,
    #wpforms-submit-194 {
        width: 40%;
    }

    .logos_footer a img {
        width: 150px;
    }

    .logos_footer img {
        height: 80px;
    }


}

@media (min-width: 992px) {

    #nav-logo {
        width: 150px;
    }

    .navbar-brand {
        width: 100px;
        height: auto;
    }

    .uy-banner_logo {
        width: 90%;
    }

    .dropdown-menu {
        background-color: white;
        border: solid 2px #00AFCB;
        border-radius: 0px;
        margin: 0rem;
        padding: 0rem;
    }

}

@media (min-width: 1200px) {

    #nav-logo {
        width: 70%;
    }

    .navbar-brand {
        width: 300px;
        height: auto;
    }

    .uy-banner_logo {
        width: 90%;
    }

}

/* MAX WIDTH */

@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .mobile-none {
        display: none;
    }

    .divider_cel {
        display: none;
    }
}